root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
php_diagnostic_php2014 = false
php_diagnostic = true
insert_final_newline = true
