@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
}

body {
  width: 100% important;
  padding: 0;
  margin: 0;
  min-width: 400px important;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.footer >.container,
body > * > .container {
  width: min(100%, 1440px) !important;
}
